@tailwind base;
@tailwind components;
@tailwind utilities;



.content-div{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 210px;
    
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112,157,255,0.7),
        hsla(241,74%,61%,0.7)
    )!important;
}

